@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}
*{
    font-family: Outfit;
}
.prata-regular{
    font-family: 'Prata', sans-serif;
    font-weight: 400;
    font-style: normal;

}
::-webkit-scrollbar{
    display: none;
}
@media (max-width: 640px){
    a.active{
        background-color: black;
        color: white;
    }
}
.group:hover .group-hover\:opacity-100 {
    opacity: 1;
}
@keyframes moveFromCenter {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(50%);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.animate-move-from-center {
    animation: moveFromCenter 0.6s ease-out forwards;
}
.product-image {
    transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi */
}

.product-image:hover {
    transform: scale(1.05); /* Phóng to ảnh khi hover */
}
.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Thêm hiệu ứng chuyển đổi */
}

.product-card:hover {
    transform: scale(1.05); /* Phóng to sản phẩm khi hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Thêm bóng đổ khi hover */
}
